.h1 {
  color: #ff66b2;
  text-align: center;
}

.ul {
  list-style: none;
  padding: 0;
}

.li {
  margin: 10px 0;
}

.li a {
  color: #ff99cc;
  text-decoration: none;
}

.li a:hover {
  text-decoration: underline;
}

/* Adicione seus estilos para a página de pacientes aqui */
.paciente-page {
  padding: 20px;
}
