h1 {
  color: #ff66b2;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

ul li a {
  color: #ff99cc;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

/* Adicione seus estilos para a página de médicos aqui */
.medico-page {
  padding: 20px;
}
