.h1 {
  color: #FFC0CB; /* Rosa claro */
  text-align: center;
}

.nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.nav ul li {
  display: inline;
  margin: 0 10px;
}

.nav ul li a {
  color: #FF69B4; /* Rosa choque */
  text-decoration: none;
}

.nav ul li a:hover {
  text-decoration: underline;
  color: #FFB6C1; /* Rosa claro */
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}
