
.header {
  background-color: #ff66b2;
  padding: 1rem;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  margin-right: 2rem;
  position: relative;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #ff66b369;
  border: none; 
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 1; 
}

.item:hover .submenu {
  display: block;
}

.subitem {
  padding: 0.5rem 1rem;
  text-align: center; 
}

.sublink {
  text-decoration: none;
  color: #ffffff;
}
.Icon{
  max-height: 50px;
  max-width: 50px;
}