/* Adicione seus estilos para o componente Header aqui */
.header {
  background-color: #ff66b2;
  padding: 10px 0;
  text-align: center;
  color: white;
}

.headerLink {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.headerLink:hover {
  text-decoration: underline;
}
